@font-face {
    /* src: url("fonts/KaiseiDecol-Regular.ttf"); - ЭТО ОСТАВЛЯЕМ */
    font-family: 'Kaisei Decol';
}

.splash-title {
    -fx-font-family: 'Kaisei Decol';
    -fx-font-size: 150px;
    -fx-text-fill: #5a8e6e;
}

.login-title-subtitle {
    -fx-font-family: 'Kaisei Decol';
    -fx-font-size: 40px;
    -fx-fill: #4e865f;
}

.login-prompt {
    -fx-font-family: 'Kaisei Decol';
    -fx-font-size: 25px;
    -fx-fill: #646363;
}
.home-button {
    -fx-font-family: 'Kaisei Decol';
}
.about-button {
    -fx-font-family: 'Kaisei Decol';
}
.creators-button {
    -fx-font-family: 'Kaisei Decol';
}




.text-field, .password-field {

    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-prompt-text-fill: #9e9e9e;
    -fx-font-family: 'Arial';
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
}

.login-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 8px 25px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0.5, 0, 2);
    -fx-font-family: 'Arial';
}

.login-button:hover {
    -fx-background-color: #66BB6A;
}

.login-button:pressed {
    -fx-background-color: #388E3C;
    -fx-translate-y: 1px;
}